{% load static %}
{% load cache %}
<nav class="navbar navbar-expand-lg navbar-pills bg-light rounded" aria-label="Offcanvas navbar large">
    <div class="container-fluid">
      <a class="navbar-brand flex-shrink" href="{% url 'posts:index' %}">
        <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        <span style="color:red">Ya</span>tube
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="offcanvas offcanvas-end bg-light" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbar2Label">The Game Has Begun</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          {% with request.resolver_match.view_name as view_name %}
            <ul class="navbar-nav pe-3 me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link{% if view_name  == 'about:author' %} active{% endif %}"
             href="{% url 'about:author'%}#main">Об авторе</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if view_name  == 'about:tech' %} active{% endif %}"
             href="{% url 'about:tech' %}">Технологии</a>
        </li>
        {% if menu_group_lists|length > 0 %}
          {% if menu_group_lists|length < 10 %}
            {% cache 600 menu-groups %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarGroups" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                  Группы
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  {% for group in menu_group_lists %}
                  <li><a class="dropdown-item" href="{% url 'posts:group_list' group.slug %}">
                    {{ group.title }}
                  </a></li>
                  {% endfor %}
                  <li><a class="dropdown-item" href="{% url 'posts:groups' %}">
                    Все группы
                  </a></li>
                </ul>
              </li>
            {% endcache %}
          {% else %}
            <li class="nav-item">
              <a class="nav-link{% if view_name  == 'posts:group_detail' %} active{% endif %}"
                 href="{% url 'posts:groups' %}">Группы</a>
            </li>
          {% endif %}
        {% endif %}
        {% if menu_author_lists|length > 0 %}
          {% if menu_author_lists|length < 10 %}
            {% cache 600 menu-authors %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarAuthors" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                  Авторы
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  {% for author in menu_author_lists %}
                  <li><a class="dropdown-item" href="{% url 'posts:profile' author.username  %}">
                    {% if author.full_name %}
                      {{ author.full_name }}
                    {% else %}
                      {{ author.username }}
                    {% endif %}
                  </a></li>
                  {% endfor %}
                  <li><a class="dropdown-item" href="{% url 'posts:authors' %}">
                    Все авторы
                  </a></li>
                </ul>
              </li>
            {% endcache %}
          {% else %}
            <li class="nav-item">
              <a class="nav-link{% if view_name  == 'posts:authors' %} active{% endif %}"
                 href="{% url 'posts:authors' %}">Авторы</a>
            </li>
          {% endif %}
        {% endif %}
      </ul>
            <ul class="navbar-nav pe-3 mb-2 mb-lg-0">
        {% if user.is_authenticated %}

          <li class="nav-item">
            <a class="nav-link{% if view_name  == 'posts:post_create' %} active{% endif %}"
               href="{% url 'posts:post_create' %}">Новая запись</a>
          </li>
          {% if user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link"
                 href="{% url 'admin:index' %}">Панель управления</a>
            </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              {{ user.username }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <a class="dropdown-item"
                   href="{% url 'posts:profile' user.username %}">
                  Мои записи
                </a>
              </li>
              <li>
                <a class="dropdown-item"
                   href="{% url 'users:password_change_form' %}">
                  Изменить пароль
                </a>
              </li>
              <li>
                <a class="dropdown-item"
                   href="{% url 'users:logout' %}">
                  Выйти
                </a>
              </li>
            </ul>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link{% if view_name  == 'users:login' %} active{% endif %}"
               href="{% url 'users:login' %}">Войти</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if view_name  == 'users:signup' %} active{% endif %}"
               href="{% url 'users:signup' %}">Регистрация</a>
          </li>
        {% endif %}
      </ul>
          {% endwith %}
        </div>
      </div>
    </div>
</nav>
