{% if user.is_authenticated %}
{% with request.resolver_match.view_name as view_name %}
  <div class="card">
    {% if view_name == 'posts:index' %}
    <a
        class="btn btn-lg btn-primary"
        href="{% url 'posts:follow_index' %}" role="button"
    >
      Избранные авторы
    </a>
    {% else %}
    <a
        class="btn btn-lg btn-light"
        href="{% url 'posts:index' %}#main-content" role="button"
    >
      Все авторы
    </a>
    {% endif %}
  </div>
{% endwith %}
{% endif %}
