{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
Пост {{ post.text|truncatechars:30 }}
{% endblock %}
{% block content %}
<div id="main-content" class="container py-4 py-xl-5 blog-page">
  <div class="container">
    <div class="row clearfix">
      <article class="col-lg-8 col-md-12 left-box">
        <div class="card single_post">
          <div class="body">
            {% if post.image %}
            <div class="img-post">
              {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
              <img class="d-block img-fluid" src="{{ im.url }}">
              {% endthumbnail %}
            </div>
            {% endif %}
            <h3>{{ post.title }}</h3>
            <p>
              {{ post.text|linebreaksbr }}
            </p>
          </div>
        </div>
        {% include 'posts/includes/comments.html' %}
      </article>

      <aside class="col-lg-4 col-md-12 right-box">
        <div class="card">
          <div class="header pb-3">
            <h2>{{ post.pub_date|date:'d E Y' }}</h2>
          </div>
        </div>
        <div class="card">
          <div class="header">
            <h2>{% if post.author.get_full_name %}{{ post.author.get_full_name }}{% else %}
              {{ post.author.username }}{% endif %}</h2>
          </div>
          <div class="body">
            Количество публикаций: {{ post.author.posts.count }}<br>
            <a href="{% url 'posts:profile' post.author.username %}"
               class="btn btn-outline-secondary mt-3">Страница автора</a>
          </div>
        </div>
        {% if post.group %}
        <div class="card">
          <div class="header">
            <h2>{{ post.group.title }}</h2>
          </div>
          <div class="body">
            {{ post.group.description }}<br>
            <a href="{% url 'posts:group_list' post.group.slug %}"
               class="btn btn-outline-secondary mt-3">Публикации группы</a>
          </div>
        </div>
        {% endif %}
      </aside>
    </div>
  </div>
</div>
{% endblock %}
