{% extends 'base.html' %}
{% block title %}
Профайл пользователя
{% if author.get_full_name %}
{{ author.get_full_name }}
{% else %}
{{ author.username }}
{% endif %}
{% endblock %}
{% block content %}
<div id="main-content" class="container py-4 py-xl-5 blog-page">
  <div class="container">
    <div class="row clearfix">
      <div class="col-lg-8 col-md-12 left-box">
        <div class="card">
          <div class="header">
            <h1>{% if author.get_full_name %}
              {{ author.get_full_name }}
              {% else %}
              {{ author.username }}
              {% endif %}</h1>
          </div>
          <div class="body">
            Всего постов: {{ page_obj.paginator.count }}
          </div>
        </div>
        {% for post in page_obj %}
        {% include 'posts/includes/article.html' %}
        {% empty %}
        <article class="card single_post">
          <div class="body">
            Ой, у автора нет постов. Ткните в него палкой
          </div>
        </article>
        {% endfor %}
      </div>
      <aside class="col-lg-4 col-md-12 right-box">
            {% if user.is_authenticated and author != user %}
        <div class="card">
            {% if following %}
            <a
                class="btn btn-lg btn-light"
                href="{% url 'posts:profile_unfollow' author.username %}" role="button"
            >
              Отписаться
            </a>
            {% else %}
            <a
                class="btn btn-lg btn-primary"
                href="{% url 'posts:profile_follow' author.username %}" role="button"
            >
              Подписаться
            </a>
            {% endif %}
        </div>
            {% endif %}
        {% include 'posts/includes/aside_groups.html' %}
      </aside>
      {% include 'posts/includes/paginator.html' %}
    </div>
  </div>
</div>
{% endblock %}
