{% extends 'users/base.html' %}
{% block title %}Сброс пароля{% endblock %}
{% block card-header %}
  Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались
{% endblock %}
{% block card-body %}
  {% include 'users/includes/form_errors.html' %}
  <form method="post" action="{% url 'users:password_reset_form' %}">
    {% csrf_token %}
    {% include 'users/includes/form_group.html' %}
    <div class="col-md-6 offset-md-4">
      <button type="submit" class="btn btn-primary">
        Сбросить пароль
      </button>
    </div>
  </form>
{% endblock %}
