{% extends 'users/base.html' %}
{% block title %}Изменение пароля{% endblock %}
{% block card-header %}
  Изменить пароль
{% endblock %}
{% block card-body %}
  {% include 'users/includes/form_errors.html' %}
  <form method="post" action="{% url 'users:password_change_form' %}">
    {% csrf_token %}
    {% include 'users/includes/form_group.html' %}
    <div class="mt-3 text-center">
      <button type="submit" class="btn btn-primary">
        Изменить пароль
      </button>
    </div>
  </form>
{% endblock %}
